{{ define "main" }}
  <div
    class="research {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="research__heading">{{ .Key }}</div>
      {{ range .Pages }}
        
        <ul class="research__list-item">
          
          <div class="research__list-abstractblock">
            <th>
              <div class="research__abstract">
                <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
              </div>
              
              
            </th>
            <!--  -->
            <th class="research__list-item">
              <ul class="research__overblock">
              <th>
                <a href="{{ .RelPermalink }}">
                  <img class="research__thumbnail" src="{{ .Params.image | relURL }}" alt="Thumbnail image" loading="lazy" />
                </a>
              </th>
              <p>
                       
                {{ if .Site.Params.description }}
                  {{ .Page.Params.description | markdownify }}
                {{ else }}
                  {{ .Summary | markdownify }}
                {{ end }}
                </p>
              </ul>
             
              <!-- add read more -->
              <div class="research__list-title"><a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a></div>
              
            
              <footer class="fas fa-calendar-day">              
              </footer>
      
              <th class="research__footer-date"
              >{{ if isset .Site.Params "indexdateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.indexDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.indexDateFormat }}
                {{ end }}
      
              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Mon, Jan 2, 2006" .Date }}
                {{ else }}
                  {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}
              {{ end }}
              {{ with .Page.Params.Tags }}
              {{ partial "taxonomy/tags.html" . }}
              {{ end }}
              <br />
              </th>
            </th>
          </div>
          
          
        </ul>
        
      {{ end }}

    {{ end }}
  </div>
{{ end }}
