{{ define "main" }}
  <div
    class="research {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="research__heading">{{ .Key }}</div>
      {{ range .Pages }}
        <ul class="research__list">
          <div class="research__list-abstractblock">
            <th>
              <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
              <p>{{ if .Site.Params.description }}
                {{ .Page.Params.description | markdownify }}
              {{ else }}
                {{ .Summary | markdownify }}
              {{ end }}
              <!-- add read more -->
              {{- if and (.Truncated) (.Site.Params.readMore) -}}
                <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
              {{- end -}}
              </p>
              

            </th>
            
            <footer class="fas fa-calendar-day">              
            </footer>
            <th class="research__footer-date"
              >{{ if isset .Site.Params "indexdateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.indexDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.indexDateFormat }}
                {{ end }}

              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Mon, Jan 2, 2006" .Date }}
                {{ else }}
                  {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}
              {{ end }}
            </th>
            
            {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}
            {{ end }}
            <br />
          </div>
          <!--  -->
          
          
                
          
            
            
          
        </ul>
      {{ end }}

    {{ end }}
  </div>
{{ end }}
