.research {
  margin: 30px;
  
  &__heading {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.0em;

    @include themed() {
      color: t('primary');
    }
  }
  &__abstract {
    
    h2 {
      $font-size-h2: 2.5rem;
      font-weight: 600;
      font-size: $font-size-h2;
      @include themed() {
        color: t('primary');
      }
      
      line-height: 1;

      a {
        font-size: $font-size-h2;

        @include themed() {
          color: t('info');
        }
      }
      &:hover {
        @include themed() {
          color: t('info');
        }
      }
    }
  }
  &__list {
     
    padding: 15px;
    
    &-item {
      margin: 0 -5px 0 10px;
      display: flex ;
      direction: column;
      
      @include themed() {
        border-left: 1px solid t('primary-light');
        border-top: 1px solid t('primary-light');
      };
      border-radius: 10px;

      justify-content: space-between;
      padding-bottom: 1px;
      list-style-type: none;
    }

    &-title {
      
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      
      
      @include themed() {
        background-color: t('accent');
      }
      
      a{
        @include themed() {
          color: t('info');
        }
        &:hover {
          @include themed() {
            color: t('accent');
            background-color: t('info');
           
          }
        }
      }
      
    }
    
    &-abstractblock {
      
      margin-bottom: 10px;
      margin-left: -10px;
      display: inline-box;   
      img {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
      p{
        display: inline-flex;
        margin: 15px;
        font-size: 1.8rem;
        line-height: 1.2;
        @include themed() {
          color: t('primary');
        }
      }
      .chroma {
        @include themed() {
          background-color: t('primary-lighter');
          display: block;
          border-bottom: 1px solid t('primary-lighter');
        }
      }
    }
  }

  &__overblock{
    
    display: flex ;
    align-items: center;
    p{
      display:inline-block;
      width:100%;
    }
  }
  &__footer {
    padding: 12px 0;
    
    @include themed() {
      border-bottom: t('border');
    }

    &-date {
      font-size: 1.4rem;
      margin: 0px 0 0px 20px;
      @include ltr {
        margin-right: 15px;
        margin-left: 15px;
      }

      @include rtl {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
